In [219]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [220]:
data = pd.read_excel(r'HousePricePrediction.xlsx')
data.head()

# 2 , 4 , 5 , 9

,Id,MSSubClass,MSZoning,LotArea,LotConfig,BldgType,OverallCond,YearBuilt,YearRemodAdd,Exterior1st,BsmtFinSF2,TotalBsmtSF,SalePrice
0,0,60,RL,8450,Inside,1Fam,5,2003,2003,VinylSd,0.0,856.0,208500.0
1,1,20,RL,9600,FR2,1Fam,8,1976,1976,MetalSd,0.0,1262.0,181500.0
2,2,60,RL,11250,Inside,1Fam,5,2001,2002,VinylSd,0.0,920.0,223500.0
3,3,70,RL,9550,Corner,1Fam,5,1915,1970,Wd Sdng,0.0,756.0,140000.0
4,4,60,RL,14260,FR2,1Fam,5,2000,2000,VinylSd,0.0,1145.0,250000.0

In [221]:
headers_categorical = ['MSZoning' , 'LotConfig' , 'BldgType' , 'Exterior1st']

for head in headers_categorical:
    print(head)
    print("Null values : " , data[head].isna().sum())
    print(data[head].unique())
    # print(data[head].value_counts())

MSZoning
Null values :  4
['RL' 'RM' 'C (all)' 'FV' 'RH' nan]
LotConfig
Null values :  0
['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']
BldgType
Null values :  0
['1Fam' '2fmCon' 'Duplex' 'TwnhsE' 'Twnhs']
Exterior1st
Null values :  1
['VinylSd' 'MetalSd' 'Wd Sdng' 'HdBoard' 'BrkFace' 'WdShing' 'CemntBd'
 'Plywood' 'AsbShng' 'Stucco' 'BrkComm' 'AsphShn' 'Stone' 'ImStucc'
 'CBlock' nan]

In [222]:
data = data.dropna(subset=['MSZoning' , 'Exterior1st'])

In [223]:
# data.drop(axis=1 , columns=['Id'] , inplace=True)

In [224]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2914 entries, 0 to 2918
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            2914 non-null   int64
 1   MSSubClass    2914 non-null   int64
 2   MSZoning      2914 non-null   object
 3   LotArea       2914 non-null   int64
 4   LotConfig     2914 non-null   object
 5   BldgType      2914 non-null   object
 6   OverallCond   2914 non-null   int64
 7   YearBuilt     2914 non-null   int64
 8   YearRemodAdd  2914 non-null   int64
 9   Exterior1st   2914 non-null   object
 10  BsmtFinSF2    2913 non-null   float64
 11  TotalBsmtSF   2913 non-null   float64
 12  SalePrice     1460 non-null   float64
dtypes: float64(3), int64(6), object(4)
memory usage: 318.7+ KB

In [225]:

# X = data.iloc[ : , : -1].values
# y = data.iloc[ : , - 1].values


# from sklearn.compose import ColumnTransformer
# from sklearn.preprocessing import OneHotEncoder

# columns_to_encode = [2 , 4 , 5 , 9]


# ct = ColumnTransformer(
#     transformers=[
#         ('encoder', OneHotEncoder(), columns_to_encode)
#     ], 
#     remainder='passthrough'
# )

# # Fit and transform the data
# X = np.array(ct.fit_transform(X))

In [226]:
print(X.shape[1])

11

In [227]:
headers_numerical = data.select_dtypes(include=['number']).columns

for head in headers_numerical:
    print(head)
    print("Number of null values : " , data[head].isna().sum())


data = data.dropna(subset=['BsmtFinSF2' , 'TotalBsmtSF'])

Id
Number of null values :  0
MSSubClass
Number of null values :  0
LotArea
Number of null values :  0
OverallCond
Number of null values :  0
YearBuilt
Number of null values :  0
YearRemodAdd
Number of null values :  0
BsmtFinSF2
Number of null values :  1
TotalBsmtSF
Number of null values :  1
SalePrice
Number of null values :  1454

In [228]:
headers_numerical = data.select_dtypes(include=['object']).columns

for head in headers_numerical:
    print(head)
    print("Number of null values : " , data[head].isna().sum())
    print(data[head].unique())

MSZoning
Number of null values :  0
['RL' 'RM' 'C (all)' 'FV' 'RH']
LotConfig
Number of null values :  0
['Inside' 'FR2' 'Corner' 'CulDSac' 'FR3']
BldgType
Number of null values :  0
['1Fam' '2fmCon' 'Duplex' 'TwnhsE' 'Twnhs']
Exterior1st
Number of null values :  0
['VinylSd' 'MetalSd' 'Wd Sdng' 'HdBoard' 'BrkFace' 'WdShing' 'CemntBd'
 'Plywood' 'AsbShng' 'Stucco' 'BrkComm' 'AsphShn' 'Stone' 'ImStucc'
 'CBlock']

In [229]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values=np.nan , strategy="mean" )

data['SalePrice'] = imputer.fit_transform(data[['SalePrice']])

In [230]:
reshaped_array = y.reshape(y.shape[0], 1) 
reshaped_array.shape
reshaped_array

array([[208500.        ],
       [181500.        ],
       [223500.        ],
       ...,
       [180921.19589041],
       [180921.19589041],
       [180921.19589041]])

In [231]:
print(X.shape)
print(y.shape)

(2913, 11)
(2913,)

In [232]:



X = data.iloc[ : , : -1].values
y = data.iloc[ : , - 1].values


from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

columns_to_encode = [2 , 4 , 5 , 9]


ct = ColumnTransformer(
    transformers=[
        ('encoder', OneHotEncoder(), columns_to_encode)
    ], 
    remainder='passthrough'
)

# Fit and transform the data
X = np.array(ct.fit_transform(X))


from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=42)

# Linear Regression 
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

lr.fit(X_train ,y_train)

y_pred = lr.predict(X_test)

In [233]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

r2 = r2_score(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, y_pred)

print(f"R-squared: {r2}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")
print(f"Mean Absolute Error: {mae}")

R-squared: 0.30072621445952397
Mean Squared Error: 2478987374.139143
Root Mean Squared Error: 49789.43034559788
Mean Absolute Error: 33091.0124317554